aws_region         = "us-east-1"
cluster_name       = "triad-aws-eks-dev"
kubernetes_version = "1.35"

vpc_id = "vpc-0980661f4e1fb3aa3"

private_subnet_ids = [
  "subnet-03dc56e247d58165a",
  "subnet-0e7de01b411f358d2",
]

public_subnet_ids = [
  "subnet-054fd2c237a8afd07",
  "subnet-07e70eab498bc9ebd",
]

node_instance_types = ["t3.medium"]
node_desired_size   = 3
node_min_size       = 3
node_max_size       = 4

external_dns_hosted_zone_arns = [
  "arn:aws:route53:::hostedzone/Z03504361QPV5EQC43B1T",
]

external_secrets_secret_arns = [
  "arn:aws:secretsmanager:us-east-1:971146591534:secret:rds!db-REPLACE_ME",
  "arn:aws:secretsmanager:us-east-1:971146591534:secret:triad/dev/observability/grafana-admin*",
  "arn:aws:secretsmanager:us-east-1:971146591534:secret:triad/dev/observability/alertmanager*",
]

alertmanager_sns_topic_arns = [
  "arn:aws:sns:us-east-1:971146591534:REPLACE_ME",
]
