subscription_id    = "00000000-0000-0000-0000-000000000000"
tenant_id          = "00000000-0000-0000-0000-000000000000"
location           = "eastus"
resource_group_name = "triad-azure-dev-rg"

cluster_name       = "triad-azure-dev-aks"
kubernetes_version = "1.31"

aks_subnet_id      = "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/triad-azure-dev-rg/providers/Microsoft.Network/virtualNetworks/triad-azure-dev-vnet/subnets/aks-subnet"
ingress_subnet_id  = "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/triad-azure-dev-rg/providers/Microsoft.Network/virtualNetworks/triad-azure-dev-vnet/subnets/ingress-subnet"
acr_id             = "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/triad-azure-dev-rg/providers/Microsoft.ContainerRegistry/registries/triaddevacr1234"

node_vm_size       = "Standard_D4s_v5"
node_min_count     = 3
node_max_count     = 4

tags = {
  CostCenter = "learning"
  Stage      = "phase5"
  ManagedBy  = "terraform"
}
